
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message.tags }}
            {{ message.message }}<br/><br/>
        </div>
    {% endfor %}
{% endif %}

<table>
    <tbody>
        {% for post in post_list %}
            <tr>
                <td>{{ post.pk }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.created_at }}</td>
                <td>
                    <a href="{% url "post_edit" post.pk %}">
                        수정
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

