{% load bootstrap4 %}

<!doctype html>
<html>
    <head>
        <meta charset="urf-8"/>
        <title></title>
        {% bootstrap_css %}
</head>
<body>

<div class="container">
    <div class="col-sm-12">
        <h1>Post Form</h1>

        <form action="" method="post" novalidate autocomplete="off">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            {% endbuttons %}
        </form>

        {% bootstrap_javascript jquery='full' %}

        <script type="text/javascript">
        var dom = document.getElementById('{{ form.user_agent.id_for_label }}');
        dom.value = navigator.userAgent;
        </script>
    </div>
</div>

</body>
</html>


